@import '../../theme';

.blackboard{
  .blackboard-container{
    position: relative;
    background-color: theme-color('success');
    border: solid 10px theme-color('brown');
    width: 100%;
    padding-top: 56.25%;
    #blackboard-canvas{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}