.layout{
  .inner{
    width: 100%;
    height: calc(100%  - 24px);
    .main{
      height: 100%;
      overflow: hidden;
      .content{
        width: 100%;
        height: calc(100% - 50px);
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}